.separateur{
    width: 100%;
    opacity: 0.6;
}

.text-title{
    font-size: 1.3rem;
    color: white;
    margin-bottom: 30px;

}

.text-paragraphe{
    margin-bottom: 30px;
    color: rgb(197, 196, 196);
}

.container-reseau{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.container-reseau a{
    font-size: 25px;
    opacity: 0.7;
    transition: all 0.5s;
}

.container-reseau a:hover{
    opacity: 1;
    font-size: 27px;
}

.text-bottom{
    font-size: 0.8rem;
    opacity: 0.5;
    margin-bottom: 30px;
}

.text-bottom i{
    opacity: 1;
    color: rgb(255, 55, 55);
}