*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #0f172a; /* bg-dark → équivalent à slate-900 */
    color: #cbd5e1;
    min-height: 100vh;  
    /* background-color: #f4f4f4; */
    /* color: #333; */
    /* line-height: 1.6; */
    /* padding: 20px; */
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}